.h1,
.h2,
.h3,
.header {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

.header_large {
	font-size: 56px;
	line-height: 64px;
	margin-bottom: calc(1.5em / (1.25 * 1.25 * 1.25 * 1.25));
}

.header_medium {
	font-size: 48px;
	line-height: 56px;
	margin-bottom: calc(1.5em / (1.25 * 1.25 * 1.25));
}

.header_small {
	font-size: 36px;
	line-height: 44px;
	margin-bottom: calc(1.5em / 1.25);
}

.h1 {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: calc(1.5em / (1.25 * 1.25));
}

.h2 {
	font-size: 32px;
	line-height: 40px;
	margin-bottom: calc(1.5em / 1.25);
}

.h3 {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: calc(1.5em / 1.25);
}

.caption {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 1.5em;
}

.caption-wide {
	line-height: 20px;
}

.bold {
	font-weight: 700;
}
