.radio {
	position: absolute;
	left: -9999px;
}

.radio__wrapper {
	display: inline-flex;
	align-items: center;
	margin-bottom: 12px;
}

.radio__label {
	display: inline-block;
	padding-left: 4px;
	font-size: 18px;
	line-height: 23px;
	color: var(--white);
	cursor: pointer;
}

.radio__icons {
	display: inline-flex;
}

.radio__icons .icon:last-of-type {
	display: none;
}

.radio:checked + .radio__wrapper .radio__icons .icon:first-of-type {
	display: none;
}

.radio:checked + .radio__wrapper .radio__icons .icon:last-of-type {
	display: inline;
}
