/* TODO: убрать box-sizing в другое место */
*,
*::after,
*::before {
	box-sizing: border-box;
}

.select__float-label {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 24px;
	cursor: pointer;
}

.select__float-label_error {
	margin-bottom: 4px;
}

.select {
	display: block;
	padding: 24px 12px;
	padding-right: 36px;
	width: 100%;
	color: var(--white);
	background-color: transparent;
	font-family: inherit;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	outline: 1px solid var(--white-pressed);
	border: 0;
	border-radius: 4px;
}

.select_error {
	outline: 1px solid var(--red);
}

.select:focus {
	outline: 2px solid var(--yellow);
}

.select_error:focus {
	outline: 2px solid var(--red);
}

.select > input {
	position: absolute;
	top: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: var(--white);
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
}

.select__items {
	display: none;
	position: absolute;
	top: 54px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius: 4px;
	background-color: var(--white-inactive);
}

.select_opened .select__items {
	display: block;
}

.select__label {
	position: absolute;
	padding: 0 12px;
	transform: translate(0, 12px) scale(1);
	transform-origin: top left;
	transition: all 0.2s ease-out;

	opacity: 70%;
	color: var(--white);
	font-family: inherit;
	font-size: 12px;
	line-height: 20px;
	pointer-events: none;
}

.select__label_active {
	line-height: 16px;
	opacity: 100%;
	transform: translate(0, 4px) scale(1);
}

.select > .icon {
	position: absolute;
	top: 14px;
	right: 8px;
	transition: transform 0.25s ease;
}

.select_opened > .icon {
	transform: rotate(180deg);
}

.select__error {
	height: 0;
	overflow: hidden;
	transition: height 0.2s ease;
	font-size: 14px;
	line-height: 20px;
}

.select__error,
.select__float-label_error .select__label {
	color: var(--red);
}

.select__float-label_error .select__error {
	height: auto;
}
