.checkbox {
	position: absolute;
	left: -9999px;
}

.checkbox__wrapper {
	display: inline-flex;
	align-items: center;
	margin-bottom: 12px;
}

.checkbox__label {
	display: inline-block;
	padding-left: 4px;
	font-size: 18px;
	line-height: 23px;
	color: var(--white);
	cursor: pointer;
}

.checkbox__icons {
	display: inline-flex;
}

.checkbox__icons .icon:last-of-type {
	display: none;
}

.checkbox:checked + .checkbox__wrapper .checkbox__icons .icon:first-of-type {
	display: none;
}

.checkbox:checked + .checkbox__wrapper .checkbox__icons .icon:last-of-type {
	display: inline;
}
